body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: #f1f3f8;
  color: #393b44;
}

h1 {
  color: #393b44;
  padding-bottom: 20px;
}

h2 {
  font-size: 0.5rem;
}

button:focus, button:active {
  outline: none;
  box-shadow: none;
}

.navbar-items {
  color: #393b44;
  border: 0;
  background-color: #f1f3f8;
}

.app-container {
  margin: 7% 15%;
}

/* HOME TAB */

.home {
  margin: 7% 0;
}

.react-image {
  width: 500px;
}

.home-text {
  text-align: left;
  padding: 20% 0;
}

/* CALCULATOR TAB */

.calc-input {
  width: 25%;
  text-align: center;
  display: inline-block;
  margin: 0 20px;
}

.calc-btn {
  margin: 20px 0;
}
