/* Color Palatte: https://colorhunt.co/palette/134510 */
body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: #ebf0f6;
  color: #132238;
}

h1 {
  color: #364e68;
  padding-bottom: 20px;
}

h2 {
  font-size: 0.5rem;
}

button:focus, button:active {
  outline: none;
  box-shadow: none;
}

.navbar-items {
  color: #132238;
  border: 0;
  background-color: #ebf0f6;
}

.app-container {
  margin: 7% 15%;
}

/* HOME TAB */
.home {
  margin: 7% 0;
}

.react-image {
  width: 500px;
}

.home-text {
  text-align: left;
  padding: 20% 0;
}

/* CALCULATOR TAB */
.calc-input {
  width: 25%;
  text-align: center;
  display: inline-block;
  margin: 0 20px;
}

.calc-btn {
  margin: 20px 0;
}

.add {
  background-color: #C8D7DE;
  height: 250px;
}

.calc-sec {
  padding: 20px 10px;
  word-wrap: break-word;
}

/* EMOJIPEDIA TAB */
.emojipedia {
  margin: 7% 15%;
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #132238;
}

/* WEATHER TAB */

.weather {
  margin: 7% 0;
}

.weather-head {
  text-align: center;
  margin-bottom: 20px;
}

.btn-outline-secondary:hover {
  background-color: #132238;
}
