/* Original Color Palatte: https://colorhunt.co/palette/134510 */
/* Mauve Palatte: https://colorhunt.co/palette/206914 */

/* React Color Scheme:
React Color is: #64DBF9
Shades from Adobe: Darkest: #17343B / Darker: #316C7A / Lightest: #5AC5E0 / Lighter: #4AA4BA */

body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: #625261;
  color: #a6a6a4;
}

h1 {
  color: #89beb3;
  padding-bottom: 20px;
}

h2 {
  font-size: 0.5rem;
}

button:focus, button:active {
  outline: none;
  box-shadow: none;
}

.navbar-items {
  color: #89beb3;
  border: 0;
  background-color: #625261;
}

.app-container {
  margin: 7% 15%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

/* HOME TAB */
.home {
  margin: 7% 0;
}

.react-image {
  width: 500px;
}

.home-text {
  text-align: left;
  padding: 20% 0;
}

/* CALCULATOR TAB */
.calc-input {
  width: 25%;
  text-align: center;
  display: inline-block;
  margin: 0 20px;
}

.calc-btn {
  margin: 20px 0;
}



.calc-sec {
  padding: 20px 10px;
  word-wrap: break-word;
}

/* EMOJIPEDIA TAB */
.emojipedia {
  margin: 7% 15%;
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #89beb3;
}

/* WEATHER TAB */

.weather {
  margin: 7% 0;
}

.weather-head {
  text-align: center;
  margin-bottom: 20px;
}

.btn-outline-secondary:hover {
  background-color: #89beb3;
}

.btn-outline-secondary {
  color: #e8e8e8;
  border-color: #e8e8e8;
}

/* TO DO TAB */

.note {
  background: #e8e8e8;
  border-radius: 7px;
  box-shadow: 0 2px 5px #89beb3;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #30475e;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #e8e8e8;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  resize: none;
  background: #e8e8e8;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #30475e;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
